@model ProjetoSupermercado.Models.Fornecedor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h1 class="text-center">Detalhes do Fornecedor</h1>
    <div>
        <h4>Fornecedor</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.nome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.cnpj)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.cnpj)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.produto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.produto.nome)
            </dd>
      
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.validade)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.validade)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.quantidade)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.quantidade)
            </dd>
        </dl>
    </div>
    <div class="text-center">
        <a asp-action="Edit" asp-route-id="@Model?.id" class="btn btn-warning">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
    </div>
</div>
