@model ProjetoSupermercado.Models.Cliente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h1 class="text-center">Detalhes do Cliente</h1>
    <h4 class="text-center">Informações do Cliente</h4>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.nome)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.nome)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.cpf)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.cpf)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.telefone)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.telefone)
            </dd>
        </dl>
    </div>
    <div class="text-center mt-3">
        <a asp-action="Edit" asp-route-id="@Model?.id" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
